{erl_opts, [debug_info, nowarn_deprecated_callback, nowarn_unused_func]}.

{deps, [
  {brod, "3.15.1"},
  {jiffy, "1.1.1"},
  {supervisor3, "1.1.12"}
]}.

{overrides, [
  {override, crc32cer, [
    {erl_opts, [debug_info]},
    {plugins, [pc]},
    {provider_hooks, [
      {pre,  [{compile, {pc, compile}}]},
      {post, [{clean,   {pc, clean}}]}
    ]}
  ]},
  {override, snappyer, [
    {erl_opts, [debug_info]},
    {plugins, [pc]},
    {provider_hooks, [
      {pre,  [{compile, {pc, compile}}]},
      {post, [{clean,   {pc, clean}}]}
    ]}
  ]}
]}.